[Unit]
Description=NordVPN reconnector daemon

[Service]
ExecStart=/usr/bin/nordvpn-reconnector
Restart=always
StandardOutput=journal
Environment=NORDVPN_RECONNECT_NOTIFY=true
Environment=NORDVPN_MAX_UPTIME='2 hours'
Environment=NORDVPN_KILLER_REQUEST_FILE='/tmp/nordvpnd-killer.ask'

[Install]
WantedBy=default.target
