[Unit]
Description=NordVPN killer daemon

[Service]
ExecStart=/usr/bin/nordvpnd-killer
Restart=always
StandardOutput=journal
NonBlocking=true
KillMode=process
Restart=on-failure
RestartSec=5
Environment=NORDVPN_KILLER_REQUEST_FILE='/tmp/nordvpnd-killer.ask'

[Install]
WantedBy=default.target